{% extends 'club_admin/base.html' %}
{% block title %}FitSharing Club CMS - {{ title }}{% endblock %}
{% block content %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
    {% include 'club_admin/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.email }}</span>
                                <img class="img-profile rounded-circle"
                                     src="/club-panel/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
<!--                                <a class="dropdown-item" href="#">-->
<!--                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    Profile-->
<!--                                </a>-->
<!--                                <a class="dropdown-item" href="#">-->
<!--                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    Settings-->
<!--                                </a>-->
<!--                                <a class="dropdown-item" href="#">-->
<!--                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>-->
<!--                                    Activity Log-->
<!--                                </a>-->
<!--                                <div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Активные посетители в клубе</h1>
                    </div>

                    <div class="row">

                        <div class="col-lg-6">
                            {% for club_association in club_associations %}
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <a href="{{ url_for('club_admin.club_view') }}?club_id={{ club_association.club_id }}"><h6 class="m-0 font-weight-bold text-primary">{{ club_association.club.name }} ({{ club_association.club.address|truncate(64, True) }})</h6></a>
                                </div>
                                <div class="card-body">
                                {% set orders = club_association.club.get_active_orders_in_club() %}
                                {% if orders %}
                                    <ol>
                                    {% for order in orders %}
                                        <li style="margin-bottom: 10px">{{ order.created_at.strftime('%Y.%m.%d %H:%M') }} - <b>#00{{ order.id }}</b>
                                            <a href="#" data-order-id="{{ order.id }}" style="color: #001fff; text-decoration: underline;">
                                                Завершить
                                            </a>
                                        </li>
                                    {% endfor %}
                                    </ol>
                                {% else %}
                                    <center>Никого в данный момент нет</center>
                                {% endif %}
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'club_admin/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->

    {% include 'club_admin/logout_modal.html' %}
{% endblock %}