{% extends 'club_admin/base.html' %}
{% block title %}FitSharing Club CMS - {{ title }}{% endblock %}
{% block content %}

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    {% include 'club_admin/sidebar.html' %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            {% include 'club_admin/navbar.html' %}
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Список пользователей для верификаций в клубах</h1>
                    <p class="mb-4">Для того, чтобы верифицировать пользователя, попросите его паспорт или иной документ, удостоверяющий личность.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Клиенты</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Клуб</th>
                                            <th>ФИО пользователя</th>
                                            <th>Дата</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for verification in verifications %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ verification.club.name }}</td>
                                            <td>{{ verification.user_verify.lastname|title }} {{ verification.user_verify.firstname|title }}</td>
                                            <td>{{ verification.created_at.strftime('%Y:%m:%d %H:%M') }}</td>
                                            <td align="center"><a href="{{ url_for('club_admin.verification_user') }}?user_id={{ verification.user_id }}">Проверка</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            {% include 'club_admin/footer.html' %}
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
{% include 'club_admin/logout_modal.html' %}
{% endblock %}